@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 63 225 152;
    --color-secondary: 0 196 238;
    --color-deep-green: 7 64 63;
    --color-deep-gray: 51 51 51;
    --color-sky-blue: 235 251 250;
  }
}

@layer components {
  .slider-grid .splide__list {
    @apply md:!grid md:grid-cols-2 lg:grid-cols-3 md:gap-7;
  }

  .top-background {
    @apply before:absolute before:content-[""] before:bg-sky-blue before:top-0 before:right-1/2 before:h-[320px] before:md:h-[380px] before:lg:h-[410px] before:w-screen before:-z-[1] before:translate-x-36 before:md:translate-x-72 before:lg:translate-x-96;
  }
}
